
body{
     margin: 0;
}
.H{
    background :#fdf6f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.H img{
    height: 25px;
    width: 90px;
}
.H-links a {
    color: black;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 20px ;
}
.landing-page{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: black;
}
.text{
    max-width: 50%;
    text-align: left;
    padding-left: 100px;

}
.text h1{
    font-size: 3.5rem;
}
.text h1 span{
    color: darkorange;
}
.btn{
    padding: 0.5rem 1rem;
    color: white;
    background: #f47521;
    border-radius: 20px;
    border: none;

}
.btn:hover{
    background: rgb(209, 60, 15);
}
.btn1:hover{
    background: rgb(209, 60, 15);
}
.btn1{
    padding: 0.5rem 1rem;
    color: white;
    background: #f47521;
    border-radius: 20px;
    border: none; 
}
.image{
    border-radius: 20px;
    width: 470px;
}
.H2{
    text-align: left;
    padding-left: 150px;
}
h2{
    /* font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem; */
}
.featur{
    background:white;
    /* text-align: center; */
    padding: 2rem;
}
.featur-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.f1{
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}
.f1 h3{
    padding-left: 80px;
    font-size:large;
}
.f1 p{
    font-size:70%;
    padding-left: 100px;
    
}
.f1 img {
    padding-left: 0px;
    height: 50px;
    margin-bottom: 20px;
}
.f2{
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}
.f2 h3{
    padding-right: 50px;
    font-size:large;
}
.f2 p{
    padding-right:70px ;
    font-size: 70%;
} 
.f2 img {
    padding-right: 170px;
    height: 50px;
    margin-bottom: 20px;
}
.f3{
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}
.f3 h3{
    padding-right: 190px;
    font-size:large;
   
}
.f3 p{
    padding-right:70px ;
    font-size: 70%;

}
.f3 img {
    padding-right: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.f4{
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}
.f4 h3{
    padding-right: 80px;
    font-size:large;
}
.f4 p{
    padding-right:70px ;
    font-size: 70%;

}
.f4 img {
    padding-right: 220px;
    height: 50px;
    margin-bottom: 20px;
}
footer{
    background:#fdf6f0;
    padding: 1.5rem ;
    color: black;
    
    
}
.contact h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    padding-left: 100px;
}
.contact p{
    text-align: left;
    padding-left: 100px;
}
